@media (min-width: 320px) and (max-width: 991.98px) {


  .cards {
    padding: 64px;
  }

  .cards .first_card {
    padding: 10px;
    width: 100%;
  }


  .cards .first_card input {
    padding: 4px 0 4px 4px;
    font-size: 8px;
  }
}