@media (min-width: 320px) and (max-width: 991.98px) {


  .cards {
    padding: 64px;
  }

  .cards .first_card {
    padding: 10px;
    width: 100%;
  }


  .cards .first_card input {
    padding: 6px;
    font-size: 8px;
  }


  .cards .first_card h1 {
    margin-bottom: 33px;
    font-size: 16px;
  }

}